.places
  display: flex
  position: relative
  flex-direction: column
  padding: 100px 0 100px 150px
  background-color: #2A3950
  &__title
    color: white  
  &__desc
    color: white 
  img
    position: absolute 
    width: 200px
    opacity: 0.3

.categories
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
  background-color: #2A3950

.cart
  width: 23%
  border: 1px solid red
  height: 250px
  display: flex
  align-items: center
  justify-content: center
  background-color: #ffff
  font-size: 24px
  font-weight: bold


