.places
  display: flex
  position: relative
  flex-direction: column
  padding: 100px 0 100px 150px
  background-color: #2A3950
  &__title
    color: white  
  &__desc
    color: white 
  img
    position: absolute 
    width: 200px
    opacity: 0.3

.comments
  border: 1px solid black
  width: 500px
  min-height: 600px
  padding: 10px
  margin: 10px
  border-radius: 10px
  input
    // border-radius: 5px 0 0 5px
    // border-radius: none
    border-right: none #767676
    border: 0.5px solid 
    outline: none
    padding: 0rem 1rem
    height: 2.4rem
    display: flex
    align-items: center
    font-size: 1.1rem
    width: 60%
  .buttonAdd
    background: #00E0C7
    border: none
    width: 25%
    display: flex
    transition-duration: 0.2s
    cursor: pointer
    justify-content: center
    align-items: center
    // border-radius: 0 5px 5px 0
    color: white
    height: 2.5rem
    &:active
      background-color: #65ff81
      transform: scale(0.9)
      transition-duration: 0.2s
  .buttonDelete
    background: #00E0C7
    border: none
    color: white
    height: 25px
    border-radius: 5px
  .text
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 0 4px 0
  .login 
    color:#006270
  .comment
    border-bottom: 1px solid black
    margin-top: 1rem

  .addBlock
    width: 100%
    display: flex
    justify-content: space-between
    align-content: center