.header
  background-color: #006270 
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1)  
  padding-top: 5px
  height: 84px
  position: sticky
  top: 0
  z-index: 1
  font-size: 27px
 
.img
  svg
    fill: white
    width: 200px
    height: 90px
    object-fit: cover
    margin : 0 0 0 330px
.svg
  fill: white !important  


.left
  display: flex
  align-items: center
  margin : 0 0 0 100px

.home
  font-size: 17px

.map
  display: flex
  cursor: pointer
  &:hover
    color: #333
  .icon
  color: #fff
  font-size: 33px
  li
    font-size: 20px 
    list-style: none
    margin-left: 12px

.search
  display: flex
  margin: 0 0 0 36px
  color: white
  cursor: pointer
  &:hover
    color: #333 !important
  
#sidebar
  position: fixed
  padding: 25px 0 0 0
  opacity: 0.6
  background-color: #333 
